{% extends 'base.html' %}

{% block app_header_content %}
<li><a href="{% url 'notes:note' %}" class="btn btn-outline-warning ms-2 me-3">Notes</a></li>
<li><a href="{% url 'notes:tag' %}" class="btn btn-outline-warning ms-2 me-3">Tags</a></li>
{% endblock %}

{% block content %}


<form method="POST" action="{% url 'notes:note' %}">
    <!--    {% include '_base_form.html' %}-->
    {% csrf_token %}
    {% for note in notes%}
    <ul>
        <li>
            {%if not note.done%}
            <a href="{% url 'notes:detail' note.id %}" role="button" class="btn btn-outline-primary ms-2 me-3">{{note.name}}</a>
            <a href="{% url 'notes:set_done' note.id %}" role="button" class="btn btn-outline-secondary ms-2 me-3">Mark Done</a>
            <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-outline-danger ms-2 me-3">Delete note</a>
            {% else %}

            <a href="{% url 'noteapp:detail' note.id %}" role="button" class="btn btn-outline-secondary ms-2 me-3"><s>{{note.name}}</s></a>
            <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-outline-danger ms-2 me-3">Delete note</a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
</form>

{% endblock %}
