{% extends "base.html" %}

{% block content %}

<form method="POST" action="{% url 'notes:tag' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label for="id_name">Enter the tag name: </label>
        {{form.name}}
        <span>{{form.errors.name}}</span>
    </div>
    <div class="grid">
        <button type="submit" class="btn btn-outline-primary ms-2 me-3">Submit</button>
        <button type="reset" class="btn btn-outline-primary ms-2 me-3">Reset</button>
    </div>
</form>

{% endblock %}
