{% extends 'base.html' %}
{% load static %}


{% block content %}
<script type="text/javascript" src="{% url 'js-catlog' %}"></script>
<script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}"/>
    {% if object %}
    <form action="{% url submit_url object.uuid %}" method="post" enctype="multipart/form-data">
    {% else %}
    <form action="{% url submit_url %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
    <div class="col-4 text-center">
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-danger mt-3">Save task</button>
    </div>
</form>

{% endblock %}