<div class="row justify-content-center">
  <h3 class="h5 text-center mt-3">
    {% if categories %}
      {% for category in categories %}
        {% if category.slug == category_url %}
          This is all your files in {{ category.name }} dear, {{ user.username }}
        {% endif %}
      {% endfor %}
    {% else %}
      This is all your files dear, {{ user.username }}
    {% endif %}
  </h3>


  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Uploaded</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for file in files %}
        <tr>
          <td style="vertical-align: middle">
            <a href="{% url 'file_storage:show_file' file_uuid=file.uuid %}"
               class="badge text-bg-warning text-decoration-none"
            >Open
            </a>
          </td>

          <td style="vertical-align: middle">
            <span class="fw-light">{{ file.description|truncatewords:"10" }}</span>
          </td>

          <td style="vertical-align: middle">
            {% if category_url %}
              <span class="fw-lighter">{{ file.category.name }}</span>
            {% else %}
              <a href="{% url 'file_storage:show_category_files' category_url=file.category.slug %}"
                 class="text-dark fw-bolder text-decoration-none">{{ file.category.name }}</a>
            {% endif %}
          </td>
          <td style="vertical-align: middle">{{ file.uploaded_at|date:"d E, Y H:m" }}</td>
          <td style="vertical-align: middle">
            <button type="button" class="btn btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#ajax_delete_file">
              Delete file
            </button>
          </td>
        </tr>
      </tbody>
      {% include 'file_storage/file_delete_modal.html' %}
      {% endfor %}
    </table>
  </div>

</div>