<div class="modal fade" id="extensions_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Valid file categories and extensions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="alert alert-warning d-none" role="alert">
      </div>

      <div class="modal-body bg-dark">

        <div class="list-group">
          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Images</h5>
            </div>
            <p class="mb-1">jpeg, png, jpg, svg</p>
          </div>

          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Videos</h5>
            </div>
            <p class="mb-1">mp4, mov, mkv</p>
          </div>

          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Documents</h5>
            </div>
            <p class="mb-1">doc, docx, txt, pdf, xlsx, pptx</p>
          </div>

          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Audio</h5>
            </div>
            <p class="mb-1">mp3, ogg, wav, amr</p>
          </div>

          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Archives</h5>
            </div>
            <p class="mb-1">zip, gz, tar</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
