{% load extract_tags %}
<div class="row  fw-bold p-2">Filter by tag</div>
<form method="POST" action="{% url 'notes:filter_note' %}">
    {% csrf_token %}
        <div>
            {% for tag in tags %}
                {%if tag.name in choice_tags%}
                <div class="checkbox"><label><input type="checkbox" name="tags" value="{{tag.name}}" checked > {{tag.name}}</label></div>
                {% else %}
                <div class="checkbox"><label><input type="checkbox" name="tags" value="{{tag.name}}"> {{tag.name}}</label></div>
                {% endif %}
            {% endfor %}
        </div>
    <br>
    <button type="submit" role="button" class="btn btn-outline-primary ms-2 me-3">Accept</button>
</form>
