{% extends "base.html" %}

{% block app_header_content %}
  <li><a href="{% url 'notes:main' %}" class="btn btn-outline-warning ms-2 me-3">Notes</a></li>
  <li><a href="{% url 'notes:add_note' %}" class="btn btn-outline-warning ms-2 me-3">Add note</a></li>
{% endblock app_header_content%}

{% block content %}

<form method="POST" action="{% url 'notes:add_tag' %}">
    {% include '_base_form.html' %}
    {% csrf_token %}
    <div style="padding: 10px">
        <label for="id_name">Enter the tag name: </label>
        {{form.name}}
        <span>{{form.errors.name}}</span>
    </div>
    <div class="grid">
        <button type="submit" class="btn btn-outline-primary ms-2 me-3">Add</button>
        <button type="reset" class="btn btn-outline-primary ms-2 me-3">Reset</button>
    </div>
</form>

{% endblock content %}
