{% extends 'base.html' %}
{% load search_app_tags  %}

{% block content %}

<div class="container" style="padding: 10px">
        <div class="row row-cols-1 row-cols-md-3 gx-4 text-center">
                  <div class="col-md-4 themed-grid-col"><b>Name</b></div>
                  <div class="col-md-4 themed-grid-col"><b>Address</b></div>
                  <div class="col-md-4 themed-grid-col"><b>Phone</b></div>
    </div>

    {% for object in object_list %}
    <div class="row row-cols-1 row-cols-md-3 gx-4 text-center">
        <div class="col-md-4 themed-grid-col">{{ object.name|highlight:query }}</div>
        <div class="col-md-4 themed-grid-col">{{ object.address|highlight:query }}</div>
        <div class="col-md-4 themed-grid-col">{{ object.phone_number|highlight:query }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
